<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">IOT inc</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a class="disabled">Home</a></li>
        <li><a class="disabled">About</a></li>
        <li><a class="disabled">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="modalLogout.open()">Esci</a></li>
      </ul>
    </div>
  </div>
</nav>

<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard <small>Monitora i tuoi sensori</small></h1>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
</header>

<section id="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">
        Dashboard
      </li>
    </ol>
  </div>
</section>

<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">

          <a routerLink="/dashboard" class="list-group-item"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard</a>
          <a routerLink="/sensori" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Sensori</a>
          <a routerLink="/utenti" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Utenti</a>
          <a routerLink="/profilo" class="list-group-item"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Il Mio Profilo</a>

        </div>
      </div>

      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Il mio profilo</h3>
          </div>
          <div class="panel-body">
            <div class="row">

              <div class="col-md-6">

                <img src="http://localhost/img/profilo.png" class="img-responsive img-thumbnail center-block" width="50%" height="50%">

              </div>

              <div class="col-md-6">

                <div class="row">

                  <h4 class="personale">Nome: {{amministratore.nome}}</h4>
                  <h4 class="personale">Cogome: {{amministratore.cognome}}</h4>
                  <h4 class="personale">Username: {{amministratore.username}}</h4>
                  <h4 class="personale">Password: ********</h4>

                        <button class="btn btn-default center-block" data-toggle="modal" (click)="modalModificaPassword.open()">Modifica Password</button>

                </div>


              </div>


            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<modal #modalModificaPassword>
  <modal-header>
    <h4>Modifica Password: </h4>
  </modal-header>
  <modal-content>
    <form role="form" method="post">
      <div class="form-group">
        <label for="passwordAttuale">Password Attuale:</label>
        <input type="text" class="form-control" id="passwordAttuale" #passwordAttuale placeholder="Inserisci la password attuale..." />
        <label for="nuovaPassword">Nuova Password:</label>
        <input type="text" class="form-control" id="nuovaPassword" #nuovaPassword placeholder="Inserisci la nuova password..." />
        <label for="nuovaPassword">Conferma Nuova Password:</label>
        <input type="text" class="form-control" id="confermaNuovaPassword" #confermaNuovaPassword placeholder="Conferma password..." />
      </div>
    </form>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="modificaPassword()">Modifica</button>
  </modal-footer>
</modal>


<modal #modalLogout>
  <modal-content>
    <h5>Sei sicuro di voler uscire dalla piattaforma?</h5>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" routerLink="">Si</button>
    <button class="btn btn-primary" (click)="modalLogout.close()">No</button>
  </modal-footer>
</modal>
